h2 {
	text-align: center;
}

.header {
	display: flex;
	flex-wrap: wrap;
}

.header-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}
.editor-container {
	height: 31em;
}

.api-error {
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.wilco-btn-red {
	background-color: red;
	&:hover:not([disabled]),
	&:focus {
		background-color: rgb(218, 72, 133);
		color: white;
	}
	&:hover {
		color: rgb(218, 72, 133);
	}
}
